.legend{
    font-weight: bold;
    background-color: #ffffff;
}
.text-input{
    width: 200px;
    height: 25px;
    font-size: 18px;
    font-family: Helvetica;
    margin-left: 3px;
}
.text-input:focus{
    background-color: #d2d2d2;
}
.text-widget-panel{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid  #4e4e4e;
    /*background-color: #ffeeff;*/
    /*background-image: -webkit-gradient(radial, center center, 0, center center, 90, color-stop(0, #FFFFFF), color-stop(1, #FFEEFF));*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    font-family: Helvetica

}

.italic{ font-style: italic;}
.bold{ font-weight: bold;}
.underline{ text-decoration: underline;}

.widget-text{
    outline: 1px dotted #cccccc;
    position: absolute;
	white-space: nowrap;
    /*border: 1px dashed #CCCCCC;*/
}
.widget-text::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.widget-text > span{
    display: inline-block;
    font-family: Helvetica;
}

.button{
	min-width: 60px;
    min-height: 30px;
	line-height:16px;
	text-align: center;
    margin-right: 10px;

}
.button-pressed{
	background-color:  #4e4e4e;
    color : white;

}
.button-bold{
	font-weight: bold;
}
.button-italic{
	font-style: italic;
}
.button-underline{
	text-decoration: underline;
}
.container {
	width: 960px;
	height: 645px;
	position: relative;
	/*background: #faf0e6;*/

    /*background: #FF742E;*/
    background: #4e4e4e;

	/*border: 1px solid #bbbbbb;*/
    border-radius: 10px
}
.container > .inner {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
}
.container > .inner > .l {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}
.container > .inner > .l > .inner {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 5px;

}
.container > .inner > .r {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;

}
.container > .inner > .r > .inner {
	height: 100%;
	position: absolute;
	top: 0;
	left: 5px;
	right: 0;

}

.container .title {
	width: 100%;
	height: 20px;
	position: absolute;
	top: 0;
	background: white;
	border: 1px solid #bbbbbb;
    border-radius: 5px;
    font-weight: bold;
    font-family: Helvetica;

}
.container .descr {
	/*border: 1px solid #bbbbbb;*/
	width: 100%;
	position: absolute;
	top: 30px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background: white;
    border-radius: 10px;
    /*background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.3, #FFFFFF), color-stop(1, #FF742E));*/
    /*background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.5, #FFFFFF), color-stop(3.5, #4E4E4E));*/

}

.line {
    line-height: 34px;
    margin-top: 6px;
}
.line .l {
    font-size: 18px;
    min-height: 20px;
    width: 180px;
    float: left;
}
.line .r {
    overflow: hidden;
}